@inherits LayoutComponentBase
@inject IBootstrapCSS BootrapCSS
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <span class="ml-md-auto">
                    usuario conectado: @context.User.Identity.Name
                    <a href="/account/logout">Logout</a>
                </span>
            </Authorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        <AuthorizeView>
            <NotAuthorized>
                <a href="login" class="ml-md-auto">Inicia Sesion</a>
            </NotAuthorized>
        </AuthorizeView>
        @Body
    </div>
</div>


@code{
    private bool isServerSide = true;
    //protected override async Task OnInitializedAsync()
    //{
    //    try
    //    {
    //        await BootrapCSS.SetBootstrapCSS("4.3.1");
    //    }
    //    catch (Exception )
    //    {
    //        isServerSide = true;
    //        throw;
    //    }
    //}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isServerSide && firstRender)
        {
            await BootrapCSS.SetBootstrapCSS("4.3.1");
        }
    }
}