<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Dulceria Yohany</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="/proveedores" Match="NavLinkMatch.All">
                <i class="bi bi-person-lines-fill mr-3" aria-hidden="true"></i> Proveedores
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/pedido" Match="NavLinkMatch.All">
                <i class="bi bi-bag-check mr-3"></i> Pedidos
            </NavLink>
        </li>*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/productos" Match="NavLinkMatch.All">
                <i class="bi bi-kanban mr-3"></i> Articulos
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ajusteinventario" Match="NavLinkMatch.All">
                <i class="bi bi-boxes mr-3"></i> Ajuste Inv
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Clientes" Match="NavLinkMatch.All">
                <i class="bi bi-people-fill mr-3"></i> Clientes
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ventas" Match="NavLinkMatch.All">
                <i class="bi bi-cart-check mr-3"></i> Ventas
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Usuarios" Match="NavLinkMatch.All">
                <i class="bi bi-person-video mr-3"></i>Usuarios
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/objectos" Match="NavLinkMatch.All">
                <i class="bi bi-bag-check mr-3"></i> Objetos
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
