@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager

@page "/"
@attribute [Authorize]
<h3>Dulceria</h3>


<a href="/pedido">
    Pedidos
</a>



@code {
    private bool isAuthenticated;
    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity.IsAuthenticated;
        if (!isAuthenticated)
            NavManager.NavigateTo("/login");
    }
    //protected override Task OnInitialized()
    //{
    //}
}