@inject IService service

<div class="form-row">
    <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <label for="txtNFactura">N° Factura:</label>
        <input type="text" class="form-control" id="txtNFactura" @bind-value="PedidoVM.NumeroFactura" placeholder="N° factura">
    </div>

    <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <label for="txtNFactura">Proveedor:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Proveedor" @bind-value="PedidoVM.Proveedor.Nombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" @onclick="() => ModalProveedor.Show()" type="button"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>

    <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <label for="dtfecha">Fecha:</label>
        <input type="date" class="form-control" @bind-value="PedidoVM.Fecha" id="dtfecha">
    </div>

    <div class="form-group col-sm-6 col-md-4 col-lg-3">
        <label for="dtfecha">N° Referencia:</label>
        <input type="text" class="form-control" @bind-value="PedidoVM.NumeroReferencia" id="dtfecha">
    </div>
</div>

<BSModal @ref="ModalProveedor" IsFullWidth="true">
    <BSModalHeader Class="bg-primary text-white" OnClick="@(() => ModalProveedor.Hide())">Selecciona proveedor</BSModalHeader>
    <BSModalBody>
        <SelectProveedor ProveedorSeleccion="PedidoVM.Proveedor" />
    </BSModalBody>
    <div class="modal-footer">
        <button class="btn btn-outline-danger" @onclick="() => ModalProveedor.Hide()"><i class="bi bi-x-circle mr-1"></i>Cerrar</button>
    </div>
</BSModal>


@code {
    [Parameter]
    public PedidoViewModel PedidoVM { get; set; }

    BSModal ModalProveedor { get; set; }

}
